.window{
    width: 800px;
    min-height: 400px;
    margin: 70px auto;
    background-color: #fff;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3%;
    text-align: center;
}

.button{
    margin-top: 40px;
}

.error{
    color: red;
}